body {
    font-size: 10px;
    margin: auto;
    padding-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-image: url('v748-toon-103.jpg');
    overflow: hidden;
}
/*Log In Section is the div for all elements on the page with a fix position for the elements within the pahe*/
.loginSection {
    position: fixed;
    top: 7%;
    left: 15%;
    width: 70%;
    text-align: center;
}
/*The Header of the */
.page_header {
    padding: -10px;
    font-size: 20px;
    text-align: center;
    border: 1px solid grey;
    color: white;
    border-radius: 30px;
    width: 101%;
    display: flex ;
    justify-content: space-evenly;
    position: relative;
    background: -webkit-linear-gradient(rgb(126, 126, 126), rgb(56, 56, 56));
    text-decoration: none;
    top: -130px;
}
li {
    display: inline-block;
    margin-right: 16px;
}
div {
    text-align: center;
}
#page_links {
    list-style: none;
}
#login_title, #pageTitle{
    font-family: 'PT Serif';
    font-size: 50px;
    color: black;
    text-decoration: solid;
}
#pageTitle {
    position: relative;
    top: -100px;
    font-size: 80px;
}
#page_links {
    display: flex;
    justify-content: space-around;
}
#guest_signup {
    display: flex;
    justify-content: space-around;
}
#guest_signup, #userInputNameForm {
    position: relative;
    left: 8%;
}
#userInputNameForm {
    width: 90%;
    padding: 0px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#userInputNameForm input,  #guest_button, #signup_button{
    font-size:20px;
    padding: 10px;
    font-family: 'PT Serif';
    color: black;
    border-radius: 70px;
    border: 1px solid black;
    margin-bottom: 10px;
}

#loginButton, #guest_button, #signup_button {
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(116, 116, 116));
    
}

/* We can create adaptive rules for example: 
this exampl below changes font size and color as the page surpases the max-width of 400px */
@media (max-width: 400px) {
    body{
    background-image: url('');
    font-size: small;
    font-style: italic;
    }
}





